

.namadij-container {
    max-height: calc(100vh - 335px);;
    /* ou la hauteur que tu veux */
    overflow-y: auto;
    /* active le scroll vertical uniquement si nécessaire */
    padding-right: 8px;
    /* optionnel pour éviter que le scroll cache du contenu */
    scrollbar-width: thin;
    /* pour Firefox */
   
    margin-bottom: 50px;
    
    
}

.namadij-container::-webkit-scrollbar {
    width: 6px;
    /* largeur de la scrollbar */
}

.namadij-container::-webkit-scrollbar-thumb {
    background: #aaa;
    /* couleur du "thumb" */
    border-radius: 3px;
}

.namadij-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* couleur du fond */

}

/* Styles pour le popup de vérification */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.verification-popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.verification-popup h3 {
    margin-top: 0;
    
}

.verification-popup p {
    margin: 15px 0;
    line-height: 1.5;
}

.popup-confirm-btn {
    background-color: #22b558;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
}

