.containerchangepassword {
    padding: 32px;
    max-width: 400px;
    direction: rtl;
    font-family: 'Cairo', sans-serif;
}

/* Alignement par défaut (center) */
.containerchangepassword--center {
    margin: auto;
}

/* Alignement au début */
.containerchangepassword--start {
    margin-right: 0;
    margin-left: auto;
}

/* Alignement à la fin */
.containerchangepassword--end {
    margin-left: 0;
    margin-right: auto;
}

/* Alignement à gauche */
.containerchangepassword--left {
    margin-left: 0;
    margin-right: auto;
}

/* Alignement à droite */
.containerchangepassword--right {
    margin-right: 0;
    margin-left: auto;
}

.password-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.password-header h1 {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: bold;
}

.lock-icon {
    position: absolute;
    bottom: 32%;
    right: 90%;
    width: 18px;
    height: 18px;
    pointer-events: none;
    z-index: 1;
}

.btn-confirmcompte {
    width:100%;
    background-color: #6c757d;
}